@font-face {
	font-family: "Futura Extra Black";
	src: url("../assets/Futura Extra Black Condensed Regular.otf");
}

@font-face {
	font-family: "SFMono";
	font-weight: normal;
	src: url("../assets/SFMonoRegular.otf");
}

@font-face {
	font-family: "SFMono";
	font-weight: bold;
	src: url("../assets/SFMonoSemibold.otf");
}

/* TODO: cyrillic font-face */

* {
	font-family: "SFMono", "Courier New", monospace;
	box-sizing: border-box;
	color: rgba(255, 255, 255, 90%);
}

small {
	display: inline-block;
	margin-top: 8px;
}

#app {
	height: 100vh;
	overflow-y: scroll;
	scrollbar-width: thin;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;

	padding-top: 32px;
	padding-bottom: 32px;
}

#frame {
	background-color: #222222;
	border: 2px solid #161616;
	border-radius: 6px;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);

	padding: 32px;
	padding-bottom: 50px;

	transition: filter, transform;
	transition-duration: 200ms;
	transition-timing-function: linear;
	filter: brightness(100%);
}
#frame.selector {
	height: min(600px, 90vh);
	width: min(500px, 90vw);
}
#frame.editor {
	width: min(600px, 90vw);
	margin-left: 8px;
	margin-right: 8px;
}

@media only screen and (max-height: 2000px) {
	#frame.editor {
		margin-top: auto;
	}
}

#frame.selector:hover {
	transition: filter, transform;
	transition-duration: 200ms;
	transition-timing-function: linear;
	filter: brightness(110%);
	transform: scale(101%);
}

#frame.drag {
	animation: frame-wiggle;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in-out;
	animation-duration: 500ms;
}

@keyframes frame-wiggle {
	from {
		transform: rotate(1deg);
	}
	to {
		transform: rotate(-1deg);
	}
}

#drop-area {
	padding: 16px;
	height: 100%;
	width: auto;

	display: flex;
	justify-content: center;
	align-items: center;
}

#drop-area-caption {
	padding-bottom: 8px;
	text-align: center;
	user-select: none;
}

#drop-area-caption > *:nth-child(1) {
	font-size: 175%;
}

#drop-area-caption > *:nth-child(2) {
	margin-top: 10px;
	font-size: 60%;
	filter: brightness(87%);
}

#gif-url {
	margin-top: 40px;
	height: 38px;
	width: 100%;

	padding: 8px;

	background-color: #161616;
	border: none;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}

#gif-url:focus {
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
}
#gif-url::placeholder {
	text-align: center;
}

#url-error {
	margin-top: 6px;
	color: rgb(255, 70, 70);
	font-size: 14px;
}

#edit-area {
	position: relative;
	/* height: 100%; */
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#caption {
	--caption-font-size-initial: 32px;
	--caption-font-size: var(--caption-font-size-initial);

	background-color: white;
	color: black;
	padding: 20px;
	max-width: 100%;

	font-family: "Futura Extra Black";
	font-size: var(--caption-font-size);

	word-break: break-all;
	text-align: center;
}

#caption > * {
	color: black;
	font-family: "Futura Extra Black";
	font-size: var(--caption-font-size);
}

#image {
	object-fit: contain;
}

#controls {
	margin-top: 16px;
}
#controls > * {
	margin-bottom: 12px;
}
#controls input {
	width: 100%;
}

#range-labels {
	display: flex;
	justify-content: space-between;
}
#range-labels > * {
	width: 4ch;
}

#control-buttons {
	margin-top: 18px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-evenly;
	gap: 32px;
}
#control-buttons button {
	height: 42px;
	border: none;
	border-radius: 4px;

	font-weight: bold;

	cursor: pointer;

	transition: box-shadow;
	transition-timing-function: ease-out;
	transition-duration: 100ms;
	box-shadow: none;
}

#reset-button {
	background-color: tomato;
}
#reset-button:hover {
	transition: box-shadow;
	transition-duration: 100ms;
	box-shadow: 0 0 5px 2px rgba(255, 99, 71, 0.3);
}

#save-button {
	background-color: lime;
	color: black;
}
#save-button:hover {
	transition: box-shadow;
	transition-duration: 100ms;
	box-shadow: 0 0 5px 2px rgba(0, 255, 0, 0.3);
}

#result-link {
	text-align: center;
	margin-top: 24px;
	margin-bottom: 0;
}

#ezgif-buttons {
	margin-top: 18px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	gap: 32px;
}
#ezgif-buttons > a {
	padding: none;
	display: block;
}
#ezgif-buttons > a:nth-child(1) {
	text-align: right;
}
#ezgif-buttons > a:nth-child(2) {
	text-align: left;
}
